.fb5 {
    width: 10%;
    height: 33%;
    position: relative;
    right: 10%;
    background: repeating-linear-gradient(
        $building-color2a 0%, 
        $building-color2a 5%, 
        transparent 5%, 
        transparent 10%
        ),
        repeating-linear-gradient(90deg,
        $building-color2a 0%,
        $building-color2a 12%,
        $window-color2a 12%,
        $window-color2a 44%
        )
        ;

        @mixin atSmall {
            background: repeating-linear-gradient(
        $building-color2 0%, 
        $building-color2 5%, 
        transparent 5%, 
        transparent 10%
        ),
        repeating-linear-gradient(90deg,
        $building-color2 0%,
        $building-color2 12%,
        $window-color2 12%,
        $window-color2 44%
        )
        ;
        }
}